body{
    background-color: #FFB484;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.titulos{
    background-color: #DB8237;
    color: black;
    border: 2px solid #171E51;
    border-radius: 10px;
    margin-top: 1%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;    
    text-align: center;
}
.centrar{
    text-align: center;
    align-items: center;

}
.fondo{
    display: flex;
    justify-content: center;
    align-items: center;    
}

