table {
    width: 100%;
    border: 1px solid #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
th{
     background-color: #DB8237;
}
th, td {
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
}
tbody, th, td, tr{
    text-align: center;
    align-items: center;
}
footer{
    background-color: #4F48DA;
    color: black;
    border: 2px solid brown;
    border-radius: 5px;
    margin-top: 1%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.abajo{
    width: 100%;
    margin-top: 0px;
    box-sizing: border-box;
}
