.imgF{
    height: 40px;
    width: 40px;
    float: left;
    padding: 5px;
    border-color: #234CB3;
    margin-top: 5px;
}
nav{
    height: 1%;
    width: 100%;
    float: left;
    padding-top: 10px;
    padding-bottom: 1px;
}
ul, ol{
    list-style: none;
    opacity: 1;
}

.nav li a{
    background-color: black;
    color: #FFFFFF;
    text-decoration: none;
    width: 100%;
    padding: 5px 55px;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 1;
    box-sizing: border-box;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 20px;
    opacity: 1;

}
.nav li a:hover{
    background-color: #848484;
    opacity: 10;
}
.nav li:hover> ul{
    display: block;
    opacity: unset;
}
.nav > li{
    float: left;
    opacity: 1;
}

